.ui.grid>.row {
  left: 170px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.grid {
  margin: 0 !important;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  border-radius: 0 !important;
}

.leftSidebar {
  width: 100px !important;
  height: 100vh !important;
}

.pushable {
  height: 100vh !important;
}

.submitButton {
  margin-top: 20px !important;
}

.homeContainer {
  margin-left: 0 !important;
  width: 1127px !important;
}